<!DOCTYPE html>
<html ng-app="directivePractice">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="lessonCtrl">
  <h3>Cross out lessons already planned:</h3>
  <input type="checkbox" name="name" ng-model="crossed" ng-change="toggleCrossed()">
  <ul>
    <lesson-hider crossed="crossed" ng-repeat="lesson in lessons" lesson="lesson" day-alert="announceDay(lesson, day)" delete-lesson="removeLesson(lesson)"></lesson-hider>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="./app.js"></script>
  <script src="./lessonCtrl.js"></script>
  <script src="./lessonHider.js"></script>
  <script src="./lessonService.js"></script>
  </body>
</html>
